.home-page {
  background-color: $white;

  .header {
    position: relative;
    height: 120px;
    background-color: $black;
  }

  .header-logo-container {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 275px;
    padding: 1.5rem 3rem;
    transform: translateX(-50%);
    border-radius: 100%;
    background-color: $black;
  }

  .header-logo {
    img {
      width: 100% !important;
    }
  }

  .header-container {
    height: 0;
  }

  .hero {
    background-color: $primary;
    color: $white;
  }
}
