$primary: #e3365b;
$primary-dark: #a31d3a;
$primary-light: #ef5b89;

$secondary: #30207c;
$secondary-dark: #24175e;
$secondary-light: #413095;

$white: #fff;
$black: #120213;

$shade700: #2f2a2f;
$shade500: #736b73;
$shade400: #8e898e;
$shade200: #c1b8c1;

$body-color: $black;
$header-color: $black;
$footer-color: $black;
$shadow-color: #383838;
$error: #e65c5c;

// NVITE SPECIFIC
$nvite-form-submission-button: #fb0036;
$nvite-form-submission-button-light: #fe305c;
