.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  text-align: center;
}

.hero-blackout {
  padding: 50px 0;
}

.logo {
  margin-bottom: 1rem;
  text-align: center;

  img {
    width: 80% !important;
    max-width: 500px;
  }
}

.hero-content {
  .heading-text {
    margin: 0 1rem;
    font-size: 36px;
    text-align: center;
  }
}

@media all and (min-width: 37.5rem) {
  .hero {
    background-attachment: fixed;
    background-position: center top;
  }


  .hero-blackout {
    padding: 150px 0;
  }
}
