.newsletter-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  background-color: $secondary-light;
  color: $white;

  h4 {
    margin-right: 1rem;
  }

  form {
    display: flex;
    align-items: center;

    .hs_submit {
      margin-left: 1rem;
    }

    .hs-button {
      @extend %button;
      margin: 0;
      padding: .25rem 1rem;
    }

    label {
      display: none;
    }
  }
}
