.black-background {
  background-color: $black;
  color: $white;
}

.image-background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
}

.dark-background {
  background-color: $background-color-dark;
  color: $white;
}

.medium-background {
  background-color: $background-color-medium;
  color: $white;
}

.light-background {
  background-color: $background-color-light;
  color: $white;
}
