%container {
  display: grid;
  grid-template-columns: 1fr;
}

@media all and (min-width: 60rem) {
  %container {
    grid-template-columns: 1fr 960px 1fr;

    > div {
      grid-column: 2;
    }
  }
}

.section-container {
  @extend %container;
  padding: 2rem 2rem;
}

.lesser-section-container {
  @extend %container;
  padding: 1.5rem 2rem;
}

@media all and (min-width: 37.5rem) {
  .section-container {
    padding: 5rem 3rem;
  }

  .lesser-section-container {
    padding: 3rem 3rem;
  }
}
